## Statistical Learning and Deep Learning, 2020 Fall
### Homework 2

b06705208 資管四 朱紹瑜

### Q1
First, read the training data and the testing data.

In [45]:
import numpy as np
import pandas as pd
import pickle
from sklearn import preprocessing

train = pd.read_csv('adult.data', header=None)
test = pd.read_csv('adult.test', header=None)
col_name = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
           'marital-status', 'occupation', 'relationship', 'race', 'sex', 
           'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
train.columns = col_name
test.columns = col_name

Then, remove NaNs.

In [46]:
train = train.replace(' ?', np.NaN).dropna()
test = test.replace(' ?', np.NaN).dropna()
train.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)
print(train.shape)
print(test.shape)

(30162, 15)
(15060, 15)

Split $x$, $y$. Convert '>50K' and '<=50K' into 1 and 0.

In [47]:
x_train = train.iloc[:, :-1]
y_train = train.iloc[:, -1:]
x_test = test.iloc[:, :-1]
y_test = test.iloc[:, -1:]

convert_map = {' >50K': 1, ' <=50K': 0}
y_train['income'] = y_train['income'].map(convert_map)
y_test['income'] = y_test['income'].map(convert_map)
print(f'x_train: {x_train.shape}')
print(f'y_train: {y_train.shape}')
print(f'x_test: {x_test.shape}')
print(f'y_test: {y_test.shape}')

x_train: (30162, 14)
y_train: (30162, 1)
x_test: (15060, 14)
y_test: (15060, 1)

For all categorical features, apply 1-of-K encoding.

In [48]:
x_train_cat = x_train.select_dtypes(include='object')
x_train_num = x_train.select_dtypes(include='int64')
x_test_cat = x_test.select_dtypes(include='object')
x_test_num = x_test.select_dtypes(include='int64')
print(x_train_cat.shape, x_train_num.shape)
print(x_test_cat.shape, x_test_num.shape)

x_train_cat = pd.get_dummies(x_train_cat)
x_train_cat.columns = x_train_cat.columns.str.replace(' ', '')
x_test_cat = pd.get_dummies(x_test_cat)
x_test_cat.columns = x_test_cat.columns.str.replace(' ', '')
print(x_train_cat.shape, x_train_num.shape)
print(x_test_cat.shape, x_test_num.shape)

(30162, 8) (30162, 6)
(15060, 8) (15060, 6)
(30162, 98) (30162, 6)
(15060, 97) (15060, 6)

Remove features that appeared less than 10 times.

In [49]:
x_train_cat = x_train_cat[x_train_cat.columns[x_train_cat.sum() >= 10]]
x_test_cat = x_test_cat[x_train_cat.columns]
print(x_train_cat.shape)
print(x_test_cat.shape)

(30162, 96)
(15060, 96)

Normalize numerical features.

In [50]:
x_train_val = x_train_num.to_numpy()
x_scaler = preprocessing.StandardScaler().fit(x_train_val)
x_train_val = x_scaler.transform(x_train_val)
x_train_num = pd.DataFrame(data=x_train_val, columns=x_train_num.columns)

x_test_val = x_scaler.transform(x_test_num.to_numpy())
x_test_num = pd.DataFrame(data=x_test_val, columns=x_test_num.columns)

Combine data into dictionary.

In [52]:
adult50 = {}
adult50['num_col'] = x_train_num.columns.to_list()
print(adult50)

{'num_col': ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']}

In [37]:
# ref
import pickle
dsfile = 'adult_m50k.pickle'
with open(dsfile, 'rb') as fh1:
    adult50kp = pickle.load(fh1)
print(adult50kp.keys())
print(adult50kp['x_train'].shape)
print(adult50kp['x_test'].shape)
print(adult50kp['y_train'].shape)
print(adult50kp['y_test'].shape)
print(adult50kp['columnname'])
print(adult50kp['x_train'])

dict_keys(['x_train', 'y_train', 'x_test', 'y_test', 'columnname', 'num_col'])
(30162, 102)
(15060, 102)
(30162,)
(15060,)
['capital-loss' 'hours-per-week' 'capital-gain' 'educational-num' 'age'
 'fnlwgt' 'relationship_Husband' 'relationship_Not-in-family'
 'relationship_Other-relative' 'relationship_Own-child'
 'relationship_Unmarried' 'relationship_Wife' 'race_Amer-Indian-Eskimo'
 'race_Asian-Pac-Islander' 'race_Black' 'race_Other' 'race_White'
 'gender_Female' 'gender_Male' 'occupation_Adm-clerical'
 'occupation_Craft-repair' 'occupation_Exec-managerial'
 'occupation_Farming-fishing' 'occupation_Handlers-cleaners'
 'occupation_Machine-op-inspct' 'occupation_Other-service'
 'occupation_Priv-house-serv' 'occupation_Prof-specialty'
 'occupation_Protective-serv' 'occupation_Sales' 'occupation_Tech-support'
 'occupation_Transport-moving' 'education_10th' 'education_11th'
 'education_12th' 'education_1st-4th' 'education_5th-6th'
 'education_7th-8th' 'education_9th' 'education_Assoc-acdm'
 'education_Assoc-voc' 'education_Bachelors' 'education_Doctorate'
 'education_HS-grad' 'education_Masters' 'education_Preschool'
 'education_Prof-school' 'education_Some-college'
 'native-country_Cambodia' 'native-country_Canada' 'native-country_China'
 'native-country_Columbia' 'native-country_Cuba'
 'native-country_Dominican-Republic' 'native-country_Ecuador'
 'native-country_El-Salvador' 'native-country_England'
 'native-country_France' 'native-country_Germany' 'native-country_Greece'
 'native-country_Guatemala' 'native-country_Haiti'
 'native-country_Honduras' 'native-country_Hong' 'native-country_Hungary'
 'native-country_India' 'native-country_Iran' 'native-country_Ireland'
 'native-country_Italy' 'native-country_Jamaica' 'native-country_Japan'
 'native-country_Laos' 'native-country_Mexico' 'native-country_Nicaragua'
 'native-country_Outlying-US(Guam-USVI-etc)' 'native-country_Peru'
 'native-country_Philippines' 'native-country_Poland'
 'native-country_Portugal' 'native-country_Puerto-Rico'
 'native-country_Scotland' 'native-country_South' 'native-country_Taiwan'
 'native-country_Thailand' 'native-country_Trinadad&Tobago'
 'native-country_United-States' 'native-country_Vietnam'
 'native-country_Yugoslavia' 'workclass_Federal-gov' 'workclass_Local-gov'
 'workclass_Private' 'workclass_Self-emp-inc' 'workclass_Self-emp-not-inc'
 'workclass_State-gov' 'workclass_Without-pay' 'marital-status_Divorced'
 'marital-status_Married-AF-spouse' 'marital-status_Married-civ-spouse'
 'marital-status_Married-spouse-absent' 'marital-status_Never-married'
 'marital-status_Separated' 'marital-status_Widowed']
[[-0.21858598 -0.07773411  0.14609228 ...  1.          0.
   0.        ]
 [-0.21858598 -2.3315307  -0.14744462 ...  0.          0.
   0.        ]
 [-0.21858598 -0.07773411 -0.14744462 ...  0.          0.
   0.        ]
 ...
 [-0.21858598 -0.07773411 -0.14744462 ...  0.          0.
   1.        ]
 [-0.21858598 -1.74721307 -0.14744462 ...  1.          0.
   0.        ]
 [-0.21858598 -0.07773411  1.88111954 ...  0.          0.
   0.        ]]